.myname {
    font-style: italic;
    text-align: center;
}

.myname h1 {
    padding: 20px;
    margin: 10px;
}

.myname h2 {
    padding: 20px;
    font-size: 350%;
}

body {
    background-color: rgb(193, 252, 213);
    font-size: 150%;
}

.about {
    font-family: sans-serif;
}

.about h2 {
    font-style: oblique;
    color: rgb(204, 47, 100);
}

.background h2 {
    font-style: oblique;
    color: rgb(204, 47, 100);
}

.job h2 {
    font-style: oblique;
    color: rgb(204, 47, 100);;
}

.moringa h1 {
    font-style: italic;
    color: rgb(243, 32, 102);
}

.hobbies h1 {
    font-style: italic;
    color: rgb(243, 32, 102);
}

.projects h1 {
    color: rgb(243, 32, 102);
}

.about h1 {
    color: rgb(243, 32, 102);;
}